<div class="home-page">
  <div class="banner">
    <div class="container">
      <h1 class="logo-font">conduit</h1>
      <p>A place to share your knowledge.</p>
    </div>
  </div>

  <div class="container page">
    <div class="row">
      <div class="col-md-9">
        <div class="feed-toggle">
          <ul class="nav nav-pills outline-active">
            @if (isAuthenticated()) {
              <li
                class="nav-item"
                [class.active-feed]="currentFeed() === 'yourFeed'"
              >
                <div class="nav-link" (click)="onFeedChange('yourFeed')">
                  Your Feed
                </div>
              </li>
            }
            <li
              class="nav-item"
              [class.active-feed]="currentFeed() === 'globalFeed'"
            >
              <div class="nav-link" (click)="onFeedChange('globalFeed')">
                Global Feed
              </div>
            </li>
          </ul>
        </div>

        @if (currentFeed() === "yourFeed") {
          @if (articlesYourFeed.isLoading()) {
            <div class="article-preview">Loading articles...</div>
          } @else {
            @for (
              article of articlesYourFeed.value()?.articles;
              track article.slug
            ) {
              <article-preview [article]="article"></article-preview>
            } @empty {
              <div class="article-preview">No articles are here... yet.</div>
            }
          }
        }
        @if (currentFeed() === "globalFeed") {
          @if (articles.isLoading()) {
            <div class="article-preview">Loading articles...</div>
          } @else {
            @for (article of articles.value()?.articles; track article.slug) {
              <article-preview [article]="article"></article-preview>
            } @empty {
              <div class="article-preview">No articles are here... yet.</div>
            }
          }
        }
      </div>

      @if (currentFeed() === "globalFeed") {
        <ul class="pagination">
          @for (page of pages(); track page) {
            <li class="page-item" [class.active]="page === currentPage()">
              <div class="page-link" (click)="onPageChange(page)">
                {{ page }}
              </div>
            </li>
          }
        </ul>
      }
    </div>

    <div class="col-md-3">
      <div class="sidebar">
        <p>Popular Tags</p>

        <div class="tag-list">
          <a href="" class="tag-pill tag-default">programming</a>
          <a href="" class="tag-pill tag-default">javascript</a>
          <a href="" class="tag-pill tag-default">emberjs</a>
          <a href="" class="tag-pill tag-default">angularjs</a>
          <a href="" class="tag-pill tag-default">react</a>
          <a href="" class="tag-pill tag-default">mean</a>
          <a href="" class="tag-pill tag-default">node</a>
          <a href="" class="tag-pill tag-default">rails</a>
        </div>
      </div>
    </div>
  </div>
</div>
